body{
	margin: 0;
	padding: 0;
	background:linear-gradient(50deg, #8bab9d,#c38261);	
	width: 100%;
}
header{
	width: 100%;
	height: 12%;
	padding: 0;
	
}
#slide{
	padding-top:15px;
	padding-left:30px;
	color: #f3f3f4;
	float: left;
	height: 7%;
	width: auto;
}
#dropdown{
	float: right;
	margin-right:75px;
	margin-top:12px;
}
#dropdownMenuLink{
	padding: auto;
	margin-top:1.5%;
	color:#ffffff;
	border:1pt solid #000000;
	font-size: 13pt;
}
#dropdownMenuLink:hover{
	width: auto;
	font-size: 20pt;
	color:#ffffff;
	background-color:#b35668;
	border:0.2px solid #000000;
}
#Body{
	height:509px;
	width: 100%;
	padding: 12px;
	
	margin: auto;
	
}
#left{
	padding:10px;
	
}
#left .row{
	border: none;
	padding:1px;
	font-size: 17pt;
}
#left .row:hover{
	padding:2px;
	margin:1px;
	background-color: #3f3e3e;
	color: #f2eaea;
	font-size: 19pt;
	border: 2px solid #b4b4ab;
}
#right{
	padding:5px;
}
#right .row.row{
	border:none;
	padding:1px;
	padding-left: 5px;
	margin:0;
	opacity: 0.85;
}
#right .row.row:hover{
	padding: 2px;
	color:#ffffff;
	background-color:#353535;
	opacity:1;
	font-size: 17pt;
	margin: 3px;
}
#right .row .col .Button{
	border:none;
	background-color: #cad3d3;
	font-size: 13pt;
	padding: 6px;
}

#right .row .col .Button:hover{
	padding: 3px;
	background-color: #3f3e3e;
	color: #f2eaea;
	font-size: 17pt;
	border: 3px solid #b4b4ab;
}

#linkimage{
	

}

#imagerefresh{
	border: 2px solid #484852;
	color: #ffffff;
	
	padding: 10px;
	cursor: pointer;
	background-color: #74748b;

}

#imagerefresh:hover{
	border: 1px solid #ffffff;
	color: #000000;
	
	padding: 10px;
	cursor: pointer;
}
#right .row .row .col{
	width: 100%;
	height: auto;
	padding: 1px;
	margin: 2px;
	border: none;
}
#refresh{
	border: 2px solid #484852;
	color: #ffffff;
	padding: 10px;
	cursor: pointer;
	float: right;
	background-color: #74748b;
}
#refresh:hover{
	border: 1px solid #ffffff;
	color: #000000;
	padding: 10px;
	cursor: pointer;
}
#center{
	padding: 1px;
	margin:0;
	border:1px solid;
}
footer{
	color:#161b1c;
	font-size: 23pt;
	font-style: lighter;
	height:10.5%;
	width: auto;
	text-align: center;
	border-top-style: margin:50px;
}
#map{
	height: 100%;
	width: auto;
}

#pho:hover{
	height: 500px;
	width: 500px;
}

#ima:hover{
height: 500px;
	width: 500px;
}